@media (prefers-color-scheme: light) {
}

a, a:visited {
	color: #91d5ff;
}

body {
	height: 100dvh;
	font-family: sans-serif;
	background: #1a1a1a;
	color: rgb(200, 200, 200);
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

button {
	all: unset;
	cursor: pointer;
}

#background {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #000000;
	z-index: -100;
}

#main-content {
	height: 100%;
	width: 100%;
	background: transparent;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 0px;
	margin: 0px;
	pointer-events: none;
}

#main-content > * {
	z-index: inherit;
}

#main-content * {
	pointer-events: auto;
}

#center {
	pointer-events: auto;
	background: transparent;
	display: flex;
	flex-grow: 100;
	overflow: hidden;
	position: relative;
}

#arrow {
	aspect-ratio: 1/1;
	height: 100%;
	margin: auto;
	pointer-events: none;
	z-index: 0;
}

#webcam {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
}

#controls-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	background: transparent;
	pointer-events: auto;
	z-index: 1;
}

#top-bar, #bottom-bar {
	background: #1a1a1a;
	text-align: center;
	height: fit-content;
	margin: 0px;
	padding: 5px;
}

#top-bar {
	font-size: clamp(1.5rem, 4vw, 2rem);
}

#bottom-bar {
	font-size: clamp(0.3rem, 3.5vw, 1rem);
}

#author {
	float: left;
}

#license {
	float: right;
}

#message-box {
	position: absolute;
	text-align: center;
	width: clamp(200px, 20vw, 500px);
	height: 100%;
	overflow: scroll;
	padding-left: 10px;
	padding-right: 10px;
	pointer-events: none;
	top: 0;
	right: 0;
	z-index: 100;
}

#message-box * {
	pointer-events: auto;
}

#distance-box {
	position: absolute;
	left: 0;
	background: #1a1a1a;
	padding: 10px;
	max-width: 100vw;
	z-index: 50;
}

#location-select-box,
#camera-control-buttons {
	position: absolute;
	bottom: 5px;
	width: fit-content;
	height: fit-content;
	z-index: 75;
	display: flex;
	align-items: flex-end;
}

#location-select-box {
	left: 0;
	transition: transform 300ms ease-in-out;
}

#location-select-form {
	padding-top: 5px;
	padding-bottom: 5px;
}

#location-select-form-container {
	background: #1a1a1a;
	position: relative;
}

#location-select-box.in {
	transform: translateX(calc(-100% + 43px - 5px));
}

#location-select-box.out {
	left: 0px;
}

#location-select-box > * {
	display: inline-block;
}

#location-select-box-button,
#camera-control-buttons button {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

#location-select-box-button, 
#camera-control-buttons button,
button {
	height: 42px;
	width: 42px;
	text-align: center;
	color: transparent;
	text-shadow: 0 0 0 white;
}

#location-select-box-button {
	left: 5px;
	position: relative;
}

#camera-control-buttons {
	right: 0px;
	bottom: 0px;
	position: absolute;
	padding: 5px;
	gap: 5px;
	z-index: 60;
}

#camera-control-buttons button {
	border-radius: 50%;
}

.location-option-selected {
	box-shadow: inset 4px 0 0 0 #820014;
}

.location-select-box-option > input {
	position: fixed;
	opacity: 0;
	pointer-events: none;
}

button,
.location-select-box-option > label {
	/* A weird bug in Safari requires this transition to be 100ms */
	transition: background-color 100ms ease-in-out;
}

.location-select-box-option > label {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
}

.location-select-box-option > label,
.location-select-box-option > input:checked ~ label:active,
button[aria-checked="false"],
button[aria-checked="true"]:active,
button[aria-checked="true"]:hover:active {
	background-color: #1a1a1a;
}

.location-select-box-option > input:checked ~ label,
.location-select-box-option > label:active,
.location-select-box-option > input:checked ~ label:hover:active,
button[aria-checked="false"]:active,
button[aria-checked="false"]:hover:active,
button[aria-checked="true"] {
	background-color: #820014;
}

.location-select-box-option > input:focus-visible ~ label,
.location-select-box-option > label:hover,
button[aria-checked="false"]:focus-visible,
button[aria-checked="false"]:hover {
	background-color: #404040;
}

.location-select-box-option > input:checked:focus-visible ~ label,
.location-select-box-option > input:checked ~ label:hover,
button[aria-checked="true"]:focus-visible,
button[aria-checked="true"]:hover {
	background-color: #a8071a;
}

#error-template {
	display: none;
}

#warning-template {
	display: none;
}

.message {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
	animation: fade-in .5s ease-in;
	transition: opacity .5s ease-out;
	-webkit-transition: opacity .5s ease-out;
	pointer-events: all;
}

.error {
	background: #820014;
}

.warning {
	background: #876800;
}

.warning:hover {
	cursor: pointer;
	background: #874d00;
}

.button {
	background: #003a8c;
}

.button:hover {
	cursor: pointer;
	background: #061178;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* vim:ts=2:sw=2:noexpandtab
*/
